header{
    background-color: #72b2e7da;
    height: 150px;
}

ul>li,
nav > a{
    display: inline-block;
    color: cornsilk;
}

footer{
    position: static;
    padding: 2%;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(117, 116, 116)
}

section, article{
    background-color:rgba(183, 189, 190, 0.87)
}
.title1{
    padding: 14px;
    font-weight: bolder;
    font-size: 34px;
    color: cornsilk;
}

.title2 {
    padding: 12px;
    font-size: 24px;
    font-weight: bolder;
    color: darkblue;
}

section{
    margin: 65px
    width: 65%;
}

aside{
    float: right;
    height: 630px;
    margin-top: 25px;
    width: 30%;
    color: cornsilk;
    background-color: crimson;
}

.left, .right, .middle{
    margin: 10px;
    display: inline-block;
    width: 30%;
    }